@charset 'UTF-8';

@font-face {
    font-family: 'friends';
    src: url('fonts/friends.TTF') format('truetype');
}

:root {
    --cor1: #012030;
    --cor2: #13678A;
    --cor3: #45C4B0;
    --cor4: #9AEBA3;
    --cor5: #DAFDBA;
}

* {
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #012030;
}

header {
    position: fixed;
    width: 100%;
    background-color: var(--cor2);
    color: white;
    border-radius: 0px 0px 30px 30px;

    font-size: 80%;
    
    font-family: 'friends';
    letter-spacing: -4px;
    text-align: center;
    padding: 5px;
}

h1 > p{
    display: inline;
    font-size: 1em;
}
#crc1{color: #FF181E;}
#crc2{color: #00B4EA;}
#crc3{color: #ffbd00;}
#crc4{color: #FF181E;}
#crc5{color: #ffbd00;}
#crc6{color: #00B4EA;}

main{
    background-color: var(--cor1);
    margin: auto;
    width: 96vw;
    max-width: 700px;

    text-align: center;
    font-family: cursive;
    font-size: 0.8em;
}
main > h1{
    padding: 50px 0px 10px 0px;
    color: white;
    font-family: friends;
    letter-spacing: 5px;
    font-size: 5vmin;
}
.fotofrentao{
    margin: auto;
    width: 95%;
    margin-bottom: 50px;
    padding: 0px;
}
.fotofrentao > img{
    width: 100%;
    border-radius: 10px;
}

main > div > p{
    font-size: large;
    text-shadow: 0px 2px rgba(0, 0, 0, 0.295);
    padding: 5px;
}

h2{
    color: white;
    font-family: 'friends';
    letter-spacing: 4px;
    padding: 10px;
    background-color: var(--cor2);
    margin-top: 10px;
}

main > div{
    padding: 20px 0px;
}

.left{
    display: flex;
    align-items: center;
    background-color: #afdcf0ec;
    text-align: right;
}
.left > img{
    width: 60%;
    border-radius: 0px 80px 80px 0px;
    box-shadow: 5px 0px 10px;
    margin-right: 15px;
}
h2.tleft{
    text-align: left;
}


.right{
    display: flex;
    align-items: center;
    background-color: #afdcf0ec;
    text-align: left;
}
.right > img{
    width: 60%;
    border-radius: 80px 0px 0px 80px;
    box-shadow: -5px 0px 10px;
    margin-left: 15px;
}
h2.tright{
    text-align: right;
}


footer{
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-color: black;
    color: white;
    margin: auto;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}